<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Fontes</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.campos.rj.gov.br/" target="_blank">Campos dos Goytacazes</a>
          </li>
          <li>
            <a href="https://www.facebook.com/PrefeituraDeCarapebus/" target="_blank">Carapebus</a>
          </li>
          <li>
            <a href="https://www.facebook.com/pmcardosomoreira/" target="_blank">Cardoso Moreira</a>
          </li>
          <li>
            <a href="http://www.conceicaodemacabu.rj.gov.br/pagina/10849/INFORMAÇÕES%20-%20CORONAVÍRUS" target="_blank">Conceição de Macabu</a>
          </li>
          <li>
            <a href="http://www.macae.rj.gov.br/saude/conteudo/titulo/coronavirus-informacoes-e-orientacoes-importantes" target="_blank">Macaé</a>
          </li>
          <li>
            <a href="https://www.facebook.com/PrefeituraMunicipalDeQuissama/" target="_blank">Quissamã</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Fontes</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/prefeiturasaojoaodabarra/?epa=SEARCH_BOX" target="_blank">São João da Barra</a>
          </li>
          <li>
            <a href="https://www.facebook.com/PrefeituraSaoFranciscodeitabapoana/" target="_blank">São Francisco de Itabapoana</a>
          </li>
          <li>
            <a href="https://www.facebook.com/prefeituradesf/" target="_blank">São Fidélis</a>
          </li>
          <li>
            <a href="https://varresai.rj.gov.br/home" target="_blank">Varre-Sai</a>
          </li>
          <li>
            <a href="https://www.santoantoniodepadua.rj.gov.br/" target="_blank">Santo Antônio de Pádua</a>
          </li>
          <li>
            <a href="https://www.bomjesus.rj.gov.br/site/" target="_blank">Bom Jesus do Itabapoana</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Fontes</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.aperibe.rj.gov.br/home" target="_blank">Aperibé</a>
          </li>
          <li>
            <a href="https://www.facebook.com/pg/PrefCambuci/posts/?ref=page_internal" target="_blank">Cambuci</a>
          </li>
          <li>
            <a href="https://www.facebook.com/GovernodeItalva/" target="_blank">Italva</a>
          </li>
          <li>
            <a href="https://www.facebook.com/Prefeituradeitaperuna/?ref=br_rs" target="_blank">Itaperuna</a>
          </li>
          <li>
            <a href="https://www.facebook.com/PrefeituraDeItaocara/" target="_blank">Itaocara</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Fontes</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://laje.rj.gov.br/index.php" target="_blank">Laje do Muriaé</a>
          </li>
          <li>
            <a href="http://www.miracema.rj.gov.br/" target="_blank">Miracema</a>
          </li>
          <li>
            <a href="https://www.natividade.rj.gov.br/" target="_blank">Natividade</a>
          </li>
          <li>
            <a href="https://www.natividade.rj.gov.br/" target="_blank">Porciúncula</a>
          </li>
          <li>
          <a href="https://www.saojosedeuba.rj.gov.br/home" target="_blank">São José de Ubá</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://atlasnf.uff.br" target="_blank"> Atlas Socioeconômico do Norte Fluminense</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
