<header class="navbar navbar-expand navbar-dark bd-navbar d-flex justify-content-center">
     <h1 class="title text-center">Atlas Socioeconômico do Norte Fluminense</h1>
</header>


<div class="container mt-5">
  <div class="row">
    <div class="col-12">
    <p>
      <span class="subtitle">Painel COVID-19</span> - <span> Norte e Noroeste Fluminense</span></br>
      <span>Atualizado em:</span> <span class="subtitle">18:00 14/04/2020</span>
    </p>
    </div>
  </div>
</div>