<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <h1 class='title'>Atlas Socioeconômico do Norte Fluminense</h1>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link active" href="/bootstrap-material-design/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/bootstrap-material-design/docs/4.0/getting-started/introduction/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/bootstrap-material-design/docs/4.0/examples/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Examples</a>
      </li>
      <li class="nav-item partner creativetim">
        <a class="nav-link" href="https://www.creative-tim.com/product/material-dashboard-pro?affiliate_id=87385" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Material Dashboard Pro');" target="_blank" rel="sponsored">Material Dashboard</a>
      </li>
      <li class="nav-item partner creativetim">
        <a class="nav-link" href="https://www.creative-tim.com/product/material-kit-pro?affiliate_id=87385" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Material Kit Pro');" target="_blank" rel="sponsored">Material Kit</a>
      </li>
      <li class="nav-item partner mdbootstrap">
        <a class="nav-link" href="https://mdbootstrap.com/products/?utm_ref_id=26974" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Material Design for Boostrap PRO');" target="_blank" rel="sponsored">Material Design for Bootstrap PRO</a>
      </li>
    </ul>
  </div>
</header>


<div class="container mt-5">
  <div class="row">
    <div class="col-12">
    <p>
      <span class="subtitle">Painel COVID-19</span> <span> Norte e Noroeste Fluminense</span></br>
      <span>Atualizado em: 18:00 14/04/2020</span>
    </p>
    </div>
  </div>
</div>