<header class="navbar navbar-expand navbar-dark bd-navbar d-flex justify-content-center">
      <span class="navbar-toggler-icon"></span>
    </button>
     <h1 class="title text-center">Atlas Socioeconômico do Norte Fluminense</h1>
     <% if user_signed_in? %>
        <ul class="navbar-nav">
          <span class="ml-3">|</span>
          <span class="mr-3"></span>
          <li class="nav-item active">
            <a href="/">Home <span class="sr-only"></span></a>
          </li>
          <span class="ml-3">|</span>
          <span class="mr-3"></span>
          <li class="nav-item">
            <%= link_to('Informações', covid_informations_path) %>        
          </li>
          <span class="ml-3">|</span>
          <span class="mr-3"></span>
          <li class="nav-item">
            <%= link_to 'Sair ', destroy_user_session_path, method: :delete %> 
          </li>
        </ul>
     <% end %>


</header>
