<div class="col-12">
  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">Sobre o Projeto</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="minus" class="svg-inline--fa fa-minus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-minus"></i> -->
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> --></button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <p>
               Atlas socioeconômico do Norte Fluminense é um projeto de extensão, pesquisa e de iniciação à inovação, composto por professorxs e alunxs do departamento de geografia da Universidade Federal Fluminense (UFF)
              - pólo Campos dos Goytacazes. Este projeto oferece à comunidade um panorama cartográfico e geográfico das condições econômicas e sociais dos municípios que compõem a Mesorregião Norte Fluminense, com a finalidade de amparar novas pesquisas e ações práticas em prol da região.
             </p>

             <p>
               Pensando que um dos objetivos do projeto é subsidiar de informações confiáveis
               a população e gestores públicos, nada mais coerente que trabalharmos com os dados da COVID-19 em nossa região.
             </p>

             <p>
                Tendo em vista, que a região possui conexão direta com a região Noroeste Fluminense,
                nossa equipe agregou a região neste trabalho, publicamos o primeiro mapa da COVID-19 no Noroeste Fluminense no dia 27/03/2020.
             </p>

             <p>
               Os dados publicados, são com base nas informações divulgadas até as 19:30 pelos municípios nos sites e redes sociais oficiais.
             </p>

             <p>
               O painel foi criado por Rodolfo Peixoto, alimentado por Carolina Jamar e os dados são organizados pela equipe do projeto.
             </p>

             <p>
               Agradecemos a comunicação de qualquer incoerência pelo e-mail <strong>atlassocieconomico.nf@gmail.com</strong>
             </p>

             <p>
              Agradecemos também o compartilhamento das informações do site, sempre citando a fonte.
             </p>

             <p>
              Você pode acompanhar as informações também pelo nosso <a href="https://www.instagram.com/atlasnortefluminense/">Instagram</a> e <a href="https://www.facebook.com/atlas.socieconomico.3">Facebook</a>.
             </p>

             <p>
               Equipe Atlas Socioeconômico Norte Fluminense
             </p>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>