<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
  <li class="paginate_button page-item previous disabled" id="example1_previous">
    <%= link_to_unless current_page.first?, 'Voltar', url, rel: 'prev', remote: remote, class: 'page-link', "aria-controls": "example1", "data-dt-idx":"0", tabindex:"0" %>
  </li>
</div>