@mixin style-text-primary {
  box-sizing: border-box;
  color: rgb(93, 120, 255);
  display: block;
  font-family: "Circular Std", "Roboto", sans-serif;
  font-weight: bold;
  height: 46px;
  line-height: 46px;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.number-total {
  @include style-text-primary;
  font-size: 40px;
}

.text-total {
  @include style-text-primary;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 25px;
color: rgb(23, 43, 62);
font-size: 20px;
visibility: visible;
}

.card-text-header {
  font-family: "Circular Std", "Roboto", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: rgb(23, 43, 62);
  font-size: 14px;
}

header {

  h1 {
    @include style-text-primary;
    font-size: 21px;
  }

}

.subtitle {
    color: #5d78ff;
    text-rendering: optimizeLegibility;
    font-family: "Circular Std", "Roboto" sans-serif;
    font-weight: 600;
}
.span {
    color: rgb(61, 61, 61);
    text-rendering: optimizeLegibility;
    font-family: "Circular Std", "Roboto" sans-serif;
    font-weight: 400;
}

.text-orange {
  color: #fcb243;
  font-family: "Roboto", sans-serif;
}

.text-yellow{
  color: #ffc107;
  font-family: "Roboto", sans-serif;
}

.text-green {
  color: #28b63f;
  font-family: "Roboto", sans-serif;
}


.text-red {
  color: #dd0000;
  font-family: "Roboto", sans-serif;
}

.text-yellow-light {
  color: #ffc260;
  font-family: "Roboto", sans-serif;
}

.card {
  border-radius: 1.0rem;
}


footer.page-footer.font-small.indigo {
  background: #000ebb;
  color: white;
  margin-top: 5%;
}

footer a {
    color: white;
}

footer a:hover {
  color: #d4d4d4;
}


.form-class {
  width: max-content;
}

.painel-border {

  background-color: white;
  border-radius: 1%;
  padding: 21px;

}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

span.text-warning {
  font-size: 12px;
}