@mixin style-text-primary {
  box-sizing: border-box;
  color: rgb(93, 120, 255);
  display: block;
  font-family: "Circular Std", "Roboto", sans-serif;
  font-weight: bold;
  height: 46px;
  line-height: 46px;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.number-total {
  @include style-text-primary;
  font-size: 40px;
}

.text-total {
  @include style-text-primary;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 25px;
color: rgb(23, 43, 62);
font-size: 20px;
visibility: visible;
}

header {

  h1 { 
    @include style-text-primary;
    font-size: 21px;
  }

}

.subtitle {
    color: #5d78ff;
    text-rendering: optimizeLegibility;
    font-family: "Circular Std", "Roboto" sans-serif;
    font-weight: 600;
}
.span {
    color: rgb(61, 61, 61);
    text-rendering: optimizeLegibility;
    font-family: "Circular Std", "Roboto" sans-serif;
    font-weight: 400;
}

.text-orange {
  color: #fcb243;
}

.text-yellow{
  color: #ffc107;
}

.text-green {
  color: #28b63f;
}


.text-red {
  color: #dd0000;
}

.text-yellow-light {
  color: #ffc260;
}

.card {
  border-radius: 1.0rem;
}